:root {
	--light-gray: rgb(220, 220, 220);
	--gray: rgb(117, 117, 117);
	--highlight-gray: rgb(78, 78, 78);
	--hover-gray: rgb(67, 67, 67);
	--dark-gray: rgb(34, 34, 34);

	--blue: rgb(40, 153, 255);
}

@font-face {
	font-family: "RobotoMono";
	src: url("/assets/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0px;

	user-select: none;

	font-family: "RobotoMono", sans-serif;
	background-color: var(--dark-gray);
}

/* the nav bar takes 570x44 */
#nav-bar {
	display: flex;

	width: 570px;
	height: 44px;
}

/* the left icon takes 44x44 */
#left-icon {
	width: 24px;
	height: 24px;
	padding: 10px;
}

/* the right section takes 44x44 (it's other or sub classes have margins/paddings to make up for the missing amount) */
#right-section {
	width: 32px;
	height: 32px;
	margin: 6px;
}

#right-icon {
	width: 24px;
	height: 24px;
	margin: 10px;
}

.icon-clickable {
	cursor: pointer;
}

.hide {
	display: none;
}

/* the search bar takes 482x44 */
#search-bar {
	border: none;
	box-sizing: border-box;
	outline: none;

	width: 482px;
	height: 44px;
	padding: 0px;
	padding-top: 1px;

	font-size: 16px;
	color: var(--light-gray);
	background-color: var(--dark-gray);

	font-family: "RobotoMono", sans-serif;
}

#search-bar::placeholder {
	color: var(--gray);
}

/* the main seperator takes 570x1 */
#seperator {
	display: flex;

	width: 566px;
	height: 1px;
	margin-right: 2px;
	margin-left: 2px;

	background-color: var(--gray);
}