:root {
    --light-gray: rgb(220, 220, 220);
    --gray: rgb(117, 117, 117);
    --highlight-gray: rgb(78, 78, 78);
    --hover-gray: rgb(67, 67, 67);
    --dark-gray: rgb(34, 34, 34);
}

body {
    margin: 0px;

    user-select: none;

    font-family: Arial, sans-serif;
    background-color: var(--dark-gray);
}

/* <----------------------------------------------------------------------------------------------------> */

/* the nav bar takes 570x44 */
#nav-bar {
    display: flex;

    width: 570px;
    height: 44px;
}

/* the magnifying glass takes 44x44 */
#magnifying-glass {
    margin: 6px;
}

/* the search bar takes 482x44 */
#search-bar {
    border: none;
    box-sizing: border-box;
    outline: none;

    width: 482px;
    height: 44px;
    padding: 0px;
    padding-top: 1px;

    font-size: 16px;
    color: var(--light-gray);
    background-color: var(--dark-gray);
}

#search-bar::placeholder {
    color: var(--gray);
}

/* the main seperator takes 570x1 */
#seperator {
    display: flex;

    width: 566px;
    height: 1px;
    margin-right: 2px;
    margin-left: 2px;

    background-color: var(--gray);
}